@model IEnumerable<EmployeeManagementWebsite.Models.User>

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb justify-content-left">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Employer List</li>
</ol>
<!-- banner-text -->
<!--/process-->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">

        <div class="inner-sec-w3ls py-lg-5  py-3">
            <!---728x90--->
            <h3 class="tittle text-center mb-lg-4 mb-3">
                <span>Some Info</span>Employee list
            </h3>
            <!---728x90--->
            <div class="row choose-main mt-5">
                <div class="col-lg-4 job_info_right">
                    <div class="widget_search">
                        <h3 class="j-b mb-3">Search</h3>
                        <div class="widget-content">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <label class="mb-2">Search for an employee: </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control jb_2" placeholder="Employee name" required="">
                                </div>
                                <input type="submit" value="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 job_info_left">
                    @foreach (var item in Model)
                    {

                        <!--/ Emply List -->
                        <div class="emply-resume-list row mb-3">
                            <div class="col-md-9 emply-info">
                                <div class="emply-img">
                                    <img src="~/Content/b1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="emply-resume-info">
                                    <h4><a href="employer_single.html">@Html.DisplayFor(modelItem => item.FullName)</a></h4>
                                    <h5 class="mt-2">@Html.DisplayFor(modelItem => item.Department)</h5>
                                    <p><i class="fas fa-map-marker-alt"></i> VietNam</p>
                                    <ul class="links_bottom_emp mt-2">
                                        <li><a href="employer_single.html"><i class="far fa-envelope"></i> <span class="icon_text"> @Html.DisplayFor(modelItem => item.Role)</span></a></li>
                                        <li><a href="#"><span class="icon_text">@Html.DisplayFor(modelItem => item.Gender)</span></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--// Emply List -->
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!--//preocess-->
<!---728x90--->